@import "classes";
@import "default";

.snackbar {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  width: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snackbar-child {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 2rem;
}
